version: "3"

services:
  mongo:
    image: mongo:6.0
    volumes:
      - mongo-6.0-data:/data/db
    env_file:
      - mongo-6.0/service.env
      - ../.env/mongo-6.0.env
    ports:
      - 27017:27017
    networks:
      - devsvcnet

volumes:
  mongo-6.0-data:
    driver: local
