version: "3"

services:
  postgres:
    image: postgres:14.4
    volumes:
      - postgres-14.4-data:/var/lib/postgresql
    env_file:
      - postgres-14.4/service.env
      - ../.env/postgres-14.4.env
    ports:
      - 5432:5432
    networks:
      - devsvcnet

volumes:
  postgres-14.4-data:
    driver: local
